<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="au.gov.health.covidsafe" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:isSplitRequired="true" android:label="@string/app_name" android:name="au.gov.health.covidsafe.TracerApp" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/MyTheme.DayNight">
        <provider android:authorities="au.gov.health.covidsafe.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:configChanges="keyboardHidden" android:name="au.gov.health.covidsafe.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="au.gov.health.covidsafe.ui.onboarding.OnboardingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="au.gov.health.covidsafe.WebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="au.gov.health.covidsafe.HomeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="au.gov.health.covidsafe.SelfIsolationDoneActivity" android:screenOrientation="portrait"/>
        <receiver android:name="au.gov.health.covidsafe.boot.StartOnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <service android:foregroundServiceType="location" android:name="au.gov.health.covidsafe.services.BluetoothMonitoringService"/>
        <service android:name="au.gov.health.covidsafe.services.SensorMonitoringService"/>
        <activity android:name="au.gov.health.covidsafe.PeekActivity" android:screenOrientation="portrait" android:theme="@style/MyTheme.DayNightDebug"/>
        <activity android:name="au.gov.health.covidsafe.PlotActivity" android:screenOrientation="landscape" android:theme="@style/MyTheme.DayNightDebug"/>
        <receiver android:name="au.gov.health.covidsafe.receivers.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="au.gov.health.covidsafe.receivers.PrivacyCleanerReceiver"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.atlassian.mobilekit.module.feedback.FeedbackActivity" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:exported="false" android:label="" android:name="pub.devrel.easypermissions.AppSettingsDialogHolderActivity" android:theme="@style/EasyPermissions.Transparent"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>